@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap");

#secretssshhhh {
	color: #404040;
	text-shadow: 0px 0px;
	margin-left: 2rem;
}

#info {
	display: flex;
}

#cakeshopinfo {
	text-align: left;
	margin-top: 1rem;
	color: black;
	font-size: 25px;
	width: 50%;
	margin-right: auto;
	margin-left: 2rem;
}

#cakeshopvideo {
	text-align: right;
	margin-top: 1rem;
	width: 50%;
	margin-left: auto;
	margin-right: 2rem;
	max-height: 70vh;
}

#cakeshopimages {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-right: 6rem;
	margin-left: 6rem;
	padding-bottom: 2rem;
}

#cakeshopimages h1 {
	text-align: center;
	margin-left: 10rem;
	margin-right: 10rem;
	margin-top: 2rem;
}

.cakewrapper {
	width: 23%;
	object-fit: cover;
	box-shadow: 4px 5px #578eb5;
	border-radius: 8px;
	margin: 0.75rem;
	position: relative;
	display: flex;
	background-color: #6fa4c9;
}

.cakeimage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 8px;
	transition: opacity 0.3s ease-in-out;
}

.cakewrapper:hover .cakeimage {
	opacity: 0%;
}

.cakedesc {
	transition: opacity 0.3s ease-in-out;
	font-size: 25px;
	opacity: 0%;
	text-align: center;
	margin: auto;
	position: absolute;
	padding: 0.5rem;
	inset: 0;
	/* force the desc to fit inside the image box */
	overflow: scroll;
}

.cakedesc {
	font-size: 18px;
}

.cakedesc b {
	font-size: 1.25em;
	font-weight: bolder;
}

.cakewrapper:hover .cakedesc {
	opacity: 100%;
}

/* Formatting for the youtube embed */
iframe {
	box-shadow: 4px 5px #578eb5;
	border-radius: 8px;
	width: 80%;
	height: 100%;
}